body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-162px;
  width:1259px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:-95px;
  width:346px;
  height:293px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:89px;
  width:146px;
  height:93px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:44px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 71%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 71%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 71%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 8px rgba(0, 0, 0, 0.349019607843137);
}
#u1 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:37px;
  width:618px;
  height:44px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:44px;
  width:31px;
  height:30px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:217px;
  width:229px;
  height:39px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:225px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:29px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:222px;
  width:34px;
  height:29px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:283px;
  width:229px;
  height:39px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:347px;
  width:229px;
  height:39px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:225px;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:411px;
  width:229px;
  height:39px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:472px;
  width:229px;
  height:39px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:225px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:534px;
  width:229px;
  height:39px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:225px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:542px;
  width:24px;
  height:27px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:478px;
  width:24px;
  height:27px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:422px;
  width:24px;
  height:27px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:289px;
  width:24px;
  height:27px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:353px;
  width:24px;
  height:27px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:598px;
  width:229px;
  height:39px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:225px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:606px;
  width:24px;
  height:27px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:661px;
  width:229px;
  height:39px;
  font-family:'Microsoft JhengHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:225px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:665px;
  width:34px;
  height:33px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:539px;
  width:31px;
  height:32px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:667px;
  width:24px;
  height:27px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:419px;
  width:27px;
  height:24px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:351px;
  width:33px;
  height:31px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:288px;
  width:32px;
  height:31px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:479px;
  width:31px;
  height:22px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:602px;
  width:31px;
  height:30px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:1px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:781px;
  width:3px;
  height:1px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:40px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:782px;
  width:3px;
  height:40px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:167px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:821px;
  width:3px;
  height:167px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:1px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:781px;
  width:152px;
  height:1px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:1px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:781px;
  width:822px;
  height:1px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:1743px;
  width:50px;
  height:32px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:45px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:1737px;
  width:36px;
  height:45px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:36px;
  width:50px;
  height:46px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:1625px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:96px;
  width:618px;
  height:1625px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:991px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:195px;
  width:595px;
  height:991px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:90px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:96px;
  width:618px;
  height:90px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:568px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:651px;
  width:206px;
  height:568px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:711px;
  width:135px;
  height:31px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:450px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:191px;
  width:206px;
  height:450px;
  font-size:12px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:202px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:264px;
  width:15px;
  height:14px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:290px;
  width:15px;
  height:14px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:316px;
  width:15px;
  height:14px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:342px;
  width:15px;
  height:14px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:397px;
  width:15px;
  height:14px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:449px;
  width:15px;
  height:14px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:583px;
  width:15px;
  height:14px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:675px;
  width:72px;
  height:82px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:68px;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:809px;
  width:190px;
  height:161px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:186px;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:684px;
  width:102px;
  height:63px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:98px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:843px;
  width:30px;
  height:27px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:691px;
  width:19px;
  height:15px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:684px;
  width:19px;
  height:15px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:1857px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-12px;
  width:8px;
  height:12px;
}
#u53_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-12px;
  width:1260px;
  height:8px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:574px;
  top:-16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1735px;
  width:859px;
  height:69px;
  font-size:11px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:1799px;
  width:0px;
  height:0px;
}
#u55_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:44px;
  width:509px;
  height:30px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:30px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
